*
	border 0
	margin 0
	padding 0
body 
	font-family 'Open Sans', sans-serif
	font-size 16px
footer
	border-bottom solid 1px #DDD
	color #DDD
	height auto
	margin .5em 0 1.5em 0
	width 100%
	a
		color grey
		text-decoration none
h1
	margin 0
	padding 0
.Celeste
	color #009beb	
.Ceo-estructure
	background-color #DDD
.Copy
	background-image url('../../public/images/dummi2.jpg')
	background-position center
	background-size cover
	-moz-background-size cover
	-ms-background-size cover
	height 500px
	width 100%
	&-botonera
		height auto
		margin-top 1em
		text-align center
		width 100%
	&-bt1
		background-color #009beb
		border-radius 3px 3px 3px 3px
		color #FFF
		-moz-border-radius 3px 3px 3px 3px
		-webkit-border-radius 3px 3px 3px 3px
		-ms-border-radius 3px 3px 3px 3px
		-o-border-radius 3px 3px 3px 3px
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
		display inline-block
		height auto
		margin 0 auto
		margin-left 1em
		padding 1em
		width 20%
	&-bt1:hover
		background-color orange
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
	&-bt2
		background-color #009beb
		border-radius 3px 3px 3px 3px
		color #FFF
		-moz-border-radius 3px 3px 3px 3px
		-webkit-border-radius 3px 3px 3px 3px
		-ms-border-radius 3px 3px 3px 3px
		-o-border-radius 3px 3px 3px 3px
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
		display inline-block
		height auto
		margin 0 auto
		margin-left 1em
		padding 1em
		width 20%
	&-bt2:hover
		background-color orange
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
	&-destacado
		color #FFF
		text-align center
		padding 6em 0 0 0
		h2
			font-size 1.1em
			font-weight 100
			margin 0 0 .5em 0
			a
				color #FFF
				-webkit-transition all 0.5s ease
				-moz-transition all 0.5s ease
				-o-transition all 0.5s ease
				transition all 0.5s ease
				text-decoration none
			a:hover
				color orange
				-webkit-transition all 0.5s ease
				-moz-transition all 0.5s ease
				-o-transition all 0.5s ease
				transition all 0.5s ease
		h3
			font-size 2em
			margin .8em 0 .8em 0
		p
			font-family 'Open Sans Condensed', sans-serif
			font-size 4.5em
			font-weight 100
			margin 0 0 .1em 0	
.Clientes
	height auto
	margin -.5em 0 4em 0
	text-align center
	width 100%
	&-1
		height auto
		display inline-block
		margin 0 2em 0 2em
		padding 2.5em 0 1em 0
		vertical-align top
		width 23%
		article p
			color grey
			font-size 1em
			font-weight 100
			line-height 1.5em
			margin .7em 0 0 0
			text-align justify
		a
			color grey
			font-size .8em
			text-decoration none
		h2
			font-size 1.2em
			font-weight 100
			margin .5em 0 0 0
		img
			border-radius 50%
			-webkit-border-radius 50%
			-moz-border-radius 50%
	&-2
		height auto
		display inline-block
		margin 0 2em 0 2em
		padding 2.5em 0 1em 0
		vertical-align top
		width 23%
		article p
			color grey
			font-size 1em
			font-weight 100
			line-height 1.5em
			margin .7em 0 0 0
			text-align justify
		a
			color grey
			font-size .8em
			text-decoration none
		h2
			font-size 1.2em
			font-weight 100
			margin .5em 0 0 0
		img
			border-radius 50%
			-webkit-border-radius 50%
			-moz-border-radius 50%
	&-3
		height auto
		display inline-block
		margin 0 2em 0 2em
		padding 2.5em 0 1em 0
		vertical-align top
		width 23%
		article p
			color grey
			font-size 1em
			font-weight 100
			line-height 1.5em
			margin .7em 0 0 0
			text-align justify
		a
			color grey
			font-size .8em
			text-decoration none
		h2
			font-size 1.2em
			font-weight 100
			margin .5em 0 0 0
		img
			border-radius 50%
			-webkit-border-radius 50%
			-moz-border-radius 50%
.Contenedor
	background-color #ecf0f1
	padding 5em 2em 5em 2em
	text-align center
	&-titulo
		color #333
		font-family 'Open Sans', sans-serif
		font-weight 300
		font-size 2.9em
		line-height 1.5em
	&-subtitulo
		color grey
		font-family 'Open Sans', sans-serif
		font-size 1.3em
		font-weight 100
		a
			color #FFF
			font-size .8em
			background-color red
			border-radius 3px 
			padding .1em .5em .1em .5em
			text-decoration none
		a:hover
			background-color #e74c3c
	&-texto
		color grey
		font-size 1.3em
		font-weight 100
		padding .5em 8em 0 8em
		line-height 1.5em
.Desarrollo
	background-color #ecf0f1
	border-bottom 1px solid #bdc3c7
	height auto
	margin 0 0 3em 0
	text-align center
	width 100%
	&-titulo
		color grey
		font-size 3em
		font-weight 100
		padding 1.7em 0 1.7em 0
.Explicacion	
	border-bottom solid 1px #ecf0f1
	margin 0 0 1em 0
	padding 1.5em 2.5em 2em 2.5em
	a
		color #FFF
		text-decoration none
	&-boton
		background-color orange
		border-radius 3px 3px 3px 3px
		-moz-border-radius 3px 3px 3px 3px
		-ms-border-radius 3px 3px 3px 3px
		-o-border-radius 3px 3px 3px 3px
		-webkit-border-radius 3px 3px 3px 3px
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
		font-size 1.1em
		height auto
		margin 0 auto
		margin-top 1.3em
		padding 1em .5em 1em .5em
		text-align center
		width 40%
	&-boton:hover
		background-color #009beb
		border-radius 3px 3px 3px 3px
		-moz-border-radius 3px 3px 3px 3px
		-ms-border-radius 3px 3px 3px 3px
		-o-border-radius 3px 3px 3px 3px
		-webkit-border-radius 3px 3px 3px 3px
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
		font-size 1.1em
		height auto
		margin 0 auto
		margin-top 1.3em
		padding 1em .5em 1em .5em
		text-align center
		width 40%
	&-texto
		color #431802
		font-family 'Open Sans Condensed', sans-serif
		font-size 2.1em
		line-height 1.4em
		text-align center	
.Estructura
	height auto
	width 100%
	&-1
		height auto
		display inline-block
		vertical-align top
		width 50%
		img
			height auto
			width 100%
	&-2
		height auto
		display inline-block
		margin 0 1em 0 1em
		vertical-align top
		width 45%
		article p 
			font-family 'Open Sans', sans-serif
			font-size 1em
			font-weight 100
			line-height 1.8em
			margin .5em 0 0 0
		ul li
			display inline-block
			font-size .9em
			list-style none
			margin 1em 0 0 0
			vertical-align top
			a
				color grey
				text-decoration none
			a:hover
				text-decoration underline
		.Estructura-titulo
			font-family 'Open Sans', sans-serif
			font-size 1.7em
			font-weight 100
			padding .7em 0 .2em 0
.Footer
	display inline-block
	height auto
	padding 1em 0 1em 2em
	vertical-align top
	width 60%
	&-article
		font-size .8em
		line-height 2.3em
		padding 0 0 0 1em
.Galeriatech
	height auto
	margin-top -2.5em
	margin 0 auto
	padding 0 0 2em 0
	text-align center
	width 90%
	&-titulo
		color grey
		font-family 'Open Sans', sans-serif
		font-size 1.5em	
		font-weight 100
		margin 1em 0 1.8em 0
	&-1
		height auto
		display inline-block
		margin 0 0 .5em 0
		vertical-align top
		width 17%
		img
			margin 0 0 1em 0
	&-2
		height auto
		display inline-block
		margin 0 0 .5em 0
		vertical-align top
		width 17%
		img
			margin 0 0 1em 0
	&-3
		height auto
		display inline-block
		margin 0 0 .5em 0
		vertical-align top
		width 17%
		img
			margin 0 0 1em 0
	&-4
		height auto
		display inline-block
		margin 0 0 .5em 0
		vertical-align top
		width 17%
		img
			margin 0 0 1em 0
	&-5
		height auto
		display inline-block
		margin 0 0 .5em 0
		vertical-align top
		width 17%
		img
			margin 0 0 1em 0
.Header
	border-bottom solid 1px #DDD
	height auto
	width 100%
	&-logo
		height auto
		display inline-block
		margin .7em 1.7em .7em 1.7em
		vertical-align top
		width auto
		h1
			color grey
			font-family 'Fredoka One', cursive
		h2
			color grey
			font-family 'Open Sans', sans-serif
			font-size .8em
			font-weight 100
			text-align center
	&-navegacion
		float right
		height auto
		display inline-block
		margin 1.9em 1.5em 0 0
		vertical-align top
		width auto
		ul li
			display inline-block
			font-size .8em
			list-style none
			padding 0 .7em 0 .7em
			vertical-align middle
			a
				color #333
				text-decoration none
			a:hover
				color orange
.Loving
	height auto
	overflow hidden
	margin 0 auto
	margin-bottom 1em
	width 90%
	ul li
		font-size .7em
		display inline-block
		float right
		padding 0 .2em 0 .2em
		vertical-align top
.Marcas
	background-color #ecf0f1
	box-sizing border-box
	margin 1em 0 0 0
	overflow hidden
	padding 1em 0 4em 0
	text-align center
	&-1
		height auto
		display inline-block
		float left
		opacity .7
		vertical-align top
		width 24%
		p
			background-color grey
			border-radius 3px
			color #DDD
			font-size .8em
			font-weight 100
			margin 0 auto
			padding .2em .3em .2em .3em
			width 30%
		img
			margin 3em 0 0 0
	&-1:hover
		opacity .8
	&-2
		height auto
		display inline-block
		margin 0 .3em 0 .3em
		opacity .7
		vertical-align top
		width 24%
		p
			background-color grey
			border-radius 3px
			color #DDD
			font-size .8em
			font-weight 100
			margin 0 auto
			padding .2em .3em .2em .3em
			width 30%
		img
			margin 3em 0 0 0
	&-2:hover
		opacity .8
	&-3
		height auto
		display inline-block
		margin 0 .3em 0 .3em
		opacity .7
		vertical-align top
		width 24%
		p
			background-color grey
			border-radius 3px
			color #DDD
			font-size .8em
			font-weight 100
			margin 0 auto
			padding .2em .3em .2em .3em
			width 30%
		img
			margin 3em 0 0 0
	&-3:hover
		opacity .8
	&-4
		height auto
		display inline-block
		float right
		opacity .7
		vertical-align top
		width 24%
		p
			background-color grey
			border-radius 3px
			color #DDD
			font-size .8em
			font-weight 100
			margin 0 auto
			padding .2em .3em .2em .3em
			width 30%
		img
			margin 3em 0 0 0
	&-4:hover
		opacity .8
.Metodologia
	background-image url('../../public/images/everest.jpg')
	background-position center
	background-size cover
	-moz-background-size cover
	-ms-background-size cover
	color #FFF
	height 350px
	text-align center
	width 100%
	a
		border solid 1px #FFF
		color #FFF
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
		padding .7em 1.9em .7em 1.9em
		text-decoration none
	a:hover
		color #333
		background-color rgba(255,255,255,.7)
		-webkit-transition all 0.5s ease
		-moz-transition all 0.5s ease
		-o-transition all 0.5s ease
		transition all 0.5s ease
	&-titulo
		font-size 2.5em
		font-weight 100
		padding 2.5em 0 .3em 0
	&-subtitulo
		font-weight 100
		padding 0 0 2em 0
.Pensamos
	box-sizing border-box
	height auto
	margin 2em 0 0 0
	text-align center
	width 100%
	&-explicacion
		height auto
		display inline-block
		margin 0 1em 0 1em
		vertical-align top
		width 40%
	&-imagen
		height auto
		display inline-block
		margin 0 1em 0 1em
		vertical-align top
		width 45%
		img
			margin -3em 0 0 0
	&-titulo
		font-family 'Open Sans', sans-serif
		font-size 2em
		font-weight 100
		text-align left
		margin 0 0 .3em 0
	&-texto
		color grey
		font-family 'Open Sans', sans-serif
		font-size 1em
		text-align left
		line-height 1.7em
.Puntos
	margin 3.5em 0 5em 0
	text-align center
	&-col1
		display inline-block
		margin 0 2.5em 0 2.5em
		vertical-align top
		width auto
		h2
			color grey
			font-size 1em
			font-weight 100
			margin -1em 0 0 0
			text-align center
	&-col2

		display inline-block
		margin 0 2.5em 0 2.5em
		vertical-align top
		width auto
		h2
			color grey
			font-size 1em
			font-weight 100
			margin -1em 0 0 0
			text-align center
	&-col3

		display inline-block
		margin 0 2.5em 0 2.5em
		vertical-align top
		width auto
		h2
			color grey
			font-size 1em
			font-weight 100
			margin -1em 0 0 0
			text-align center
	&-col4

		display inline-block
		margin 0 2.5em 0 2.5em
		vertical-align top
		width auto
		h2
			color grey
			font-size 1em
			font-weight 100
			margin -1em 0 0 0
			text-align center
.Prepago
	background-color #ecf0f1
	border-bottom 1px solid #bdc3c7
	border-top 1px solid #bdc3c7
	height auto
	margin 1.5em 0 1.5em 0
	text-align center
	width 100%
	&-titulo
		color grey
		font-size 3em
		font-weight 100
		padding 2em 0 2em 0
.Redes
	display inline-block
	float right
	height auto
	vertical-align middle
	width 20%
	ul li
		display inline-block
		list-style none
		padding 2.5em .3em 0 .3em
		
.Services
	margin 1em 0 2em 0
	padding 1em 0 1em 0
	text-align center
	&-1
		display inline-block
		height auto
		margin 0 1em 0 1em
		vertical-align top
		width 15%
		h2
			font-size 1.1em
			font-weight 100
			margin -1em 0 0 0
	&-2
		display inline-block
		height auto
		margin 0 1em 0 1em
		vertical-align top
		width 15%
		h2
			font-size 1.1em
			font-weight 100
			margin -1em 0 0 0
	&-3
		display inline-block
		height auto
		margin 0 1em 0 1em
		vertical-align top
		width 15%
		h2
			font-size 1.1em
			font-weight 100
			margin -1em 0 0 0
	&-4
		display inline-block
		height auto
		margin 0 1em 0 1em
		vertical-align top
		width 15%
		h2
			font-size 1.1em
			font-weight 100
			margin -1em 0 0 0
	&-5
		display inline-block
		height auto
		margin 0 1em 0 1em
		vertical-align top
		width 15%
		h2
			font-size 1.1em
			font-weight 100
			margin -1em 0 0 0
.Desdecero
	height auto
	margin 0 auto
	margin-bottom 4em
	margin-top 1.7em
	overflow hidden
	text-align center
	width 80%
	&-article
		height auto
		margin 0 auto
		width 80%
	&-texto
		color grey
		font-family 'Open Sans', sans-serif
		font-size 1em
		line-height 1.6em
	&-titulo
		color #333
		font-family 'Open Sans', sans-serif
		font-size 1.2em
		font-weight 100
		margin -1em 0 .6em 0
		text-transform uppercase
.Diseno
	height auto
	margin 0 auto
	margin-bottom 4em
	margin-top 1.7em
	overflow hidden
	padding 1em 0 2.5em 0
	text-align center
	width 80%
	&-article
		height auto
		margin 0 auto
		width 80%
	&-texto
		color grey
		font-family 'Open Sans', sans-serif
		font-size 1em
		line-height 1.6em
	&-titulo
		color #333
		font-family 'Open Sans', sans-serif
		font-size 1.2em
		font-weight 100
		margin -1em 0 .6em 0
		text-transform uppercase
.Dev
	height auto
	margin 0 auto
	margin-bottom 4em
	margin-top 1.7em
	overflow hidden
	text-align center
	width 80%
	&-article
		height auto
		margin 0 auto
		width 80%
	&-texto
		color grey
		font-family 'Open Sans', sans-serif
		font-size 1em
		line-height 1.6em
	&-titulo
		color #333
		font-family 'Open Sans', sans-serif
		font-size 1.2em
		font-weight 100
		margin -1em 0 .6em 0
		text-transform uppercase
.Cloud
	height auto
	margin 0 auto
	margin-bottom 4em
	margin-top 1.7em
	overflow hidden
	padding 1em 0 2.5em 0
	text-align center
	width 80%
	&-article
		height auto
		margin 0 auto
		width 80%
	&-texto
		color grey
		font-family 'Open Sans', sans-serif
		font-size 1em
		line-height 1.6em
	&-titulo
		color #333
		font-family 'Open Sans', sans-serif
		font-size 1.2em
		font-weight 100
		margin -1em 0 .6em 0
		text-transform uppercase
.Consulting
	height auto
	margin 0 auto
	margin-bottom 4em
	margin-top 1.7em
	overflow hidden
	text-align center
	width 80%
	&-article
		height auto
		margin 0 auto
		width 80%
	&-texto
		color grey
		font-family 'Open Sans', sans-serif
		font-size 1em
		line-height 1.6em
	&-titulo
		color #333
		font-family 'Open Sans', sans-serif
		font-size 1.2em
		font-weight 100
		margin -1em 0 .6em 0
		text-transform uppercase
.Soporte-tecnico
	background-color red
	border-radius 3px 3px 3px 3px
	padding .1em .5em .1em .5em
	a
		color #FFF
.Support
	height auto
	margin 0 auto
	margin-bottom 6em
	margin-top 1.7em
	overflow hidden
	padding 1em 0 2.5em 0
	text-align center
	width 80%
	&-article
		height auto
		margin 0 auto
		width 80%
	&-texto
		color grey
		font-family 'Open Sans', sans-serif
		font-size 1em
		line-height 1.6em
	&-titulo
		color #333
		font-family 'Open Sans', sans-serif
		font-size 1.2em
		font-weight 100
		margin -1em 0 .6em 0
		text-transform uppercase
.Grey
	background-color #ecf0f1
	height auto
	width 100%







