* {
	border: 0;
	margin: 0;
	padding: 0;
}
figure {
	border: 0;
	margin: 0;
	padding: 0;
}
footer {
	height:  auto;
	margin: .5em 0 0 0;
	padding: .5em 0 .5em 0;
	text-align: center;
	width: auto;
}
html, body {
	height: 100%;
	width: 100%;
}
html {
	border: 0;
	height: 100%;
	margin: 0;
	padding: 0;
}
header {
	height: auto;
	width: auto;
	position: relative;
	z-index: 1;
	margin: -38em 0 0 0;
}
body {
	box-sizing: border-box;
	color: #333;
	font-family: 'Open Sans', Verdana, Arial, sans-serif;
	font-size: 16px;
	height: 100%;
}
.Contenedor-principal {
	background-image: url("../images/dummi2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	height: 700px;
	width: 100%;
}
.Cuadro-celeste {
	height: 315px;
	margin: 0 auto;
	margin-bottom: 1em;
	margin-top: 2.2em;
	width: 60%;
}
.Cuadro-celeste a {
	background: #009beb;
    border-radius: 4px 4px 4px 4px;
    color: #FFF;
    padding: .7em 4.8em .7em 4.8em;
    text-decoration: none;
}
.Cuadro a:hover {
	background: green;
}
.Cuadro h3 {
	font-size: .8em;
	font-weight: 100;
	padding: 3em 0 2em 0;
}
.Cuadro img {
	position: relative;
	margin: -2.5em 0 0 0;
	z-index: 100;
}
.Cuadro p {
	font-size: 1.1em;
	font-weight: 100;
	line-height: 1.7;
	padding: 0 1.8em 1.8em 1.8em;
}
.Costumer-profile {
	background-color: #f7f6f6;
	box-sizing: border-box;
	height: auto;
	padding: 2em 0 2em 0;
	margin: 0 0 0 0;
}
h1 {
	margin: 0;
	padding: 0;
}
.Info {
	color: grey;
	display: inline-block;
	font-size: .8em;
	line-height: 1.7;
	margin: 0 .5em 0 .5em;
	padding: 1em 0 0 0;
	text-align: left;
	vertical-align: top;
	width: 45%;
} 
.Info a {
	color: #333;
	text-decoration: none;
} 
.Info a:hover {
	color: grey;
} 
.Loving-footer {
	border-top: solid 1px #DDD;
	height: auto;
	margin: .8em 0 0 0;
	text-align: right;
	padding: 0 2.5em 0 0;
	width: auto;
}
.Loving-footer  ul li {
	color: grey;
	display: inline-block;
	font-size: .8em;
	padding: .5em .2em .5em 0;
	vertical-align: middle;
}
.Muestra-clientes {
	height: auto;
	margin: 2em 0 0 0;
	opacity: .5;
	text-align: center;
	width: auto;
}
.Muestra-clientes ul li {
	display: inline-block;
	padding: 2em 1em 2em 1em;
	vertical-align: middle;	
}
.Muestra-clientes ul li img {
	border-radius: 5px 5px 5px 5px;
}
.Pauta {
	background-image: url(../images/pauta-masclientes.jpg);
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
	height: 350px;
	text-align: center;
}
.Pauta-autoadmin {
	background-image: url(../images/head-admin.jpg);
	background-repeat: no-repeat;
	background-position: top;
	border-bottom: solid 1px #DDD;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
	height: 250px;
	padding: 4em 0 3em 2em;
}
.Pauta .Pauta-col1, .Pauta-col2 {
	display: inline-block;
	margin: 0 1em 0 1em;
	vertical-align: top;
	width: 45%;
}
.Pauta-autoadmin h2 {
	color: #FFF;
	font-weight: 100;
	margin: 0 0 .5em 0;
}
.Pauta-autoadmin article {
	background-color: rgba(0,0,0,.4);
	border-radius: 4px 4px 4px 4px;
	height: auto;
	padding: 1.5em 1.5em 1.5em 1.5em;
	width: 50%;
}
.Pauta-autoadmin p {
	color: #FFF;
	line-height: 1.8em;
}
.Pauta-col1 h2 {
	color: #FFF;
	font-size: 1.4em;
	font-weight: 100;
	padding: 5em 0 0 0;
}
.Pauta-col1 h3 {
	color: #009beb;
	font-size: 1em;
	font-weight: 100;
	padding-top: .3em;
}
.Redes {
	display: inline-block;
	margin: 0 1.5em 0 .5em;
	text-align: right;
	vertical-align: top;
	width: 50%;
}
.Redes ul li {
	display: inline-block;
	padding: 1.3em .3em .3em .5em;
	vertical-align: top;
}
.Texto-explicacion {
	color: grey;
	background: #ecf0f1;
	font-size: 1.3em;
	font-weight: 100;
	height: auto;
	line-height: 2em;
	margin: 7em 0 0 0;
	padding: 1.7em 2em 1.7em 2em;
	text-align: center;
}
.Texto-explicacion a {
	color: #FFF;
	text-decoration: none;
}
.Texto-servicios {
	background-color: #e74c3c;
	height: auto;
	margin: -2.6em 0 0 0;
}
.Texto-servicios p {
	color: #DDD;
	font-size: 1.2em;
	line-height: 1.8;
	padding: .5em 2.5em .3em 2.5em;
	text-align: center;
}
.Texto-explicacion h2 {
	font-size: 1.1em;
	font-weight: 600;
	margin: .3em 0 .3em 0;
}
.Texto-servicios h2 {
	color: #FFF;
	font-size: 1.5em;
	font-weight: 100;
	margin: 1em 0 .3em 0;
	padding: 1.5em 0 0 0;
	text-align: center;
}
.Nombre {
	display: inline-block;
	padding: 1em 0 0 2em;
	vertical-align: middle;
	width: 20%;
}
.Nombre h1 {
	color: #FFF;
	font-family: 'Fredoka One', Verdana, Arial, sans-serif;
	font-size: 1.8em;
	font-weight: 100;
}
.Nombre h2 {
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-size: .8em;
	font-weight: 100;
}
.Navegacion {
	color: #FFF;
	display: inline-block;
	float: right;
	vertical-align: middle;
	width: 40%;
}
.Navegacion ul li {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: .9em;
	font-weight: 100;
	margin: 2.9em 0 0 2.5em;
	vertical-align: middle;
}
.Navegacion ul li a {
	color: #333;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}
.Navegacion ul li a:hover {
	color: #e67e22;
}
.Texto-destacado {
	box-sizing: border-box;
	color: #FFF;
	height: auto;
	margin: 0 auto;
	margin-top: 8.5em;
	text-align: center;
	width: 90%;
}
.Texto-destacado p {
	font-size: 4em;
	line-height: 1em;
}
.Texto-destacado h2 {
	color: #FFF;
	font-size: 1.1em;
	font-weight: 100;
	margin: 1em 0 1em 0;
}
.Texto-destacado h3 {
	font-family: 'Fredoka One', Verdana, Arial, sans-serif;
	font-size: 2em;
	font-weight: 100;
	margin: 1em 0 0 0;
}
.Botonera {
	margin: 1.3em 0 0 0;
	text-align: center;
}
.Botonera a {
	color: #FFF;
	text-decoration: none;
}
.Btn1 {
	background-color: #009beb;
	border-radius: 3px 3px 3px 3px;
	display: inline-block;
	margin: 0 .5em 0 .5em;
	padding: 1em 0 1em 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 20%;
}
.Btn1:hover {
	background-color: orange;
}
.Btn2 {
	background-color: #009beb;
	border-radius: 3px 3px 3px 3px;
	display: inline-block;
	margin: 0 .5em 0 .5em;
	padding: 1em 0 1em 0;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;

	width: 20%;
}
.Btn2:hover {
	background-color: orange;
}
.Clientes {
	box-sizing: border-box;
	height: auto;
	text-align: center;
	width: 100%;
}
.Clientes1 {
	border-right: solid 1px #DDD;
	display: inline-block;
	height: auto;
	padding-right: .9em;
	padding-left: .7em;
	vertical-align: top;
	width: 30%;
}
.Clientes2 {
	border-right: solid 1px #DDD;
	display: inline-block;
	padding-right: .9em;
	padding-left: .7em;
	vertical-align: top;
	width: 30%;
}
.Clientes3 {
	display: inline-block;
	padding-right: .9em;
	padding-left: .7em;
	vertical-align: top;
	width: 30%;
}
.Clientes1 img, .Clientes2 img, .Clientes3 img {
	border: solid 5px #DDD;
	border-radius: 50%;
	margin: 1em 0 0 0;	
}
.Clientes1 h2, .Clientes2 h2, .Clientes3 h2 {
	color: #009beb;
	font-size: 1.2em;
	font-weight: 100;
	margin: .4em 0 0 0;
}
.Clientes1 h4, .Clientes2 h4, .Clientes3 h4 {
	font-size: .9em;
	font-weight: 100;
	margin: .2em 0 .7em 0;
}
.Clientes1 a, .Clientes2 a, .Clientes3 a {
	color: #e67e22;
	font-size: .8em;
	text-decoration: none;
}
.Clientes1 a:hover, .Clientes2 a:hover, .Clientes3 a:hover {
	color: #d35400;
	font-size: .8em;
	text-decoration: underline;
}
.Clientes1 p, .Clientes2 p, .Clientes3 p  {
	background-color: #DDD;
	border-radius: 5px 5px 5px 5px;
	color: #333;
	font-size: .9em;
	line-height: 1.7em;
	margin: 1em 0 1em 0;
	padding: 1.5em 1.5em 1.5em 1.5em;
	text-align: justify;
}
.UnicoPLan {
	background-color: #e67e22;
	border-radius: 4px 4px 4px 4px;
	margin: 0 auto;
	margin-top: 2em;
	padding: 1em 0 1em 0;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;

	width: 40%;
}
.UnicoPLan:hover {
	background-color: #d35400;
}
.Resaltado {
	color: #e67e22;
}
/*.Diseñamos-y-desarrollamos {
	background-image: url(../images/desarrollo-glass.jpg);
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
	height: 350px;
	text-align: center;
}
*/
.Services {
	box-sizing: border-box;
	height: auto;
	margin: 5em 0 5em 0;
	text-align: center;
	width: 100%;
}
.Services1 {
	height: auto;
	display: inline-block;
	margin: 0 .7em 0 .7em;
	width: 15%;
}
.Services1 a {
	background-color: #f54f33;
	border-radius: 3px 3px 3px 3px;
	color: #FFF;
	padding: .7em 2.5em .7em 2.5em;
	text-decoration: none;
}
.Services1 a:hover, .Services2 a:hover, .Services3 a:hover, .Services4 a:hover, .Services5 a:hover {
	opacity: .8;
}
.Services2 a {
	background-color: #da2244;
	border-radius: 3px 3px 3px 3px;
	color: #FFF;
	padding: .7em 2.5em .7em 2.5em;
	text-decoration: none;
}
.Services3 a {
	background-color: #4b5f83;
	border-radius: 3px 3px 3px 3px;
	color: #FFF;
	padding: .7em 2.5em .7em 2.5em;
	text-decoration: none;
}
.Services4 a {
	background-color: #e6a422;
	border-radius: 3px 3px 3px 3px;
	color: #FFF;
	padding: .7em 2.5em .7em 2.5em;
	text-decoration: none;
}
.Services5 a {
	background-color: #4b5f83;
	border-radius: 3px 3px 3px 3px;
	color: #FFF;
	padding: .7em 2.5em .7em 2.5em;
	text-decoration: none;
}
.Services1 img, .Services2 img, .Services3 img, .Services4 img, .Services5 img {
	margin: 0 0 2em 0;
}
.Services1 h2 {
	color: grey;
	font-family: 'Fredoka One', cursive;
	font-size: 1.3em;
	margin: .5em 0 1em 0;
}
.Services2 {
	color: grey;
	height: auto;
	display: inline-block;
	margin: 0 .7em 0 .7em;
	width: 15%;
}
.Services3 {
	color: grey;
	height: auto;
	display: inline-block;
	margin: 0 .7em 0 .7em;
	width: 20%;
}
.Services2 h2 {
	color: grey;
	font-family: 'Fredoka One', cursive;
	font-size: 1.3em;
	margin: .5em 0 1em 0;
}
.Services3 h2 {
	color: grey;
	font-family: 'Fredoka One', cursive;
	font-size: 1.3em;
	margin: .5em 0 1em 0;
}
.Services4 h2 {
	color: grey;
	font-family: 'Fredoka One', cursive;
	font-size: 1.3em;
	margin: .5em 0 1em 0;
}
.Services5 h2 {
	color: grey;
	font-family: 'Fredoka One', cursive;
	font-size: 1.3em;
	margin: .5em 0 1em 0;
}
.Services4 {
	height: auto;
	display: inline-block;
	margin: 0 .7em 0 .7em;
	width: 15%;
}
.Services5 {
	height: auto;
	display: inline-block;
	margin: 0 .7em 0 .7em;
	width: 15%;
}
.Vermas {
	background-color: green;
	border-radius: 4px 4px 4px 4px;
	margin: 0 auto;
	margin-bottom: 1em;
	margin-top: 1.5em;
	padding: .5em .4em .5em .4em;
	width: 50%;
}
.Vermas1 {
	background-color: #f54f33;
	border-radius: 4px 4px 4px 4px;
	margin: 0 auto;
	margin-bottom: 1em;
	margin-top: 1.5em;
	padding: .5em .4em .5em .4em;
	width: 50%;
}
.Vermas a {
	text-decoration: none;
}
.Montain {
	background-image: url(../images/montain.jpg);
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
	height: 450px;
}
.Montain h2 {
	color: #FFF;
	font-family: 'Varela Round', sans-serif;
	font-size: 2.7em;
	font-weight: 100;
	text-align: center;
	padding: 3.8em 0 0 0;
}
.Montain h3 {
	color: #FFF;
	font-family: 'Varela Round', sans-serif;
	font-size: 1.2em;
	font-weight: 100;
	text-align: center;
	padding: .5em 0 0 0;
}
.Team {
	color: #009beb;
}
.Mountain-vermas {
	height: auto;
	margin: 0 auto;
	margin-top: 2.5em;
	text-align: center;
	width: 100%;
}
.Mountain-vermas a {
	border: solid 1px #FFF;
	border-radius: 3px 3px 3px 3px;
	color: #FFF;
	padding: .7em 3.5em .7em 3.5em;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	text-decoration: none;
}
.Mountain-vermas a:hover {
	background-color: rgba(255,255,255,.5);
	border: solid 1px #FFF;
	border-radius: 3px 3px 3px 3px;
	color: #000;
	padding: .7em 3.5em .7em 3.5em;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	text-decoration: none;
}
.Texto-destacado a {
	color: #FFF;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;

}
.Texto-destacado a:hover {
	color: #e67e22;
}

.Video-container {
	height: 100%;
	width: 100%;
}
video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	width: 100%;
	margin: -12em 0 0 0;
}

.Responsive-glass {
	border-top: solid 1px #DDD;
	border-bottom: solid 1px #DDD;
	overflow: hidden;
	padding: 3em 0 2.5em 0;
}
.Responsive1, .Responsive2 {
	display: inline-block;
	height: auto;
}
.Responsive1 {
	margin-left: 3em;
	margin-top: 1.5em;
	width: 40%;
}
.Responsive1 h2 {
	font-weight: 100;
	margin: 1em 0 .5em 0;
}
.Responsive1 article p {
	color: 	grey;
	font-size: 1em;
	line-height: 1.8em;
	margin: 0 0 1em 0;
}
.Responsive2 {
	float: right;
	margin-right: 5em;
}
.Prepago {
	background-color: #ecf0f1;
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	height: auto;
	padding: 2em 0 2em 0;
	text-align: center;
	width: auto;
}

